{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "@services": "./src/services",
          "@config": "./src/config",
          "@api": "./src/api",
          "@routes": "./src/routes",
          "@constants": "./src/config/constants",
          "@utils": "./src/utils",
          "@models": "./src/models",
          "@middlewares": "./src/middlewares"
        }
      }
    ]
  ]
}